<!DOCTYPE html>
<html>
<head>
    <meta charset="ISO-8859-1"/>
    <link href="css/styles.css" rel="stylesheet"/>
    <title>Pcf Training Application</title>
</head>
<body>
<textcolor>
    <center>
        <b><h2>Welcome to Pivotal training</h2></b>
        <p>
            <br>
             <h3>
              <marquee direction="left" width="800" scrollamount="500" scrolldelay="5000">
                Demonstrate a PCF Push - Version 2
               </marquee>
              </h3>
            </br>
        </p>
        <p>
          <blink><h3>Blue Green Deployment </h3></blink>
        </p>

    </center>

</textcolor>
</body>
</html>